<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 引入配置文件 -->
    <properties resource="db.properties"/>

    <!-- 设置别名 -->
    <typeAliases>
        <typeAlias type="com.bing.lan.mybatis.domain.Employee" alias="Employee"/>
    </typeAliases>

    <!--<plugins>-->
        <!--<plugin interceptor="com.bing.lan.mybatis.domain.MySqlPagingPlugin">-->
        <!--</plugin>-->
    <!--</plugins>-->

    <!-- 环境 dev 线上 等 -->
    <environments default="default">
        <!-- 一个environment 代表一个数据库环境 -->
        <environment id="default">
            <!-- 配置事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接池 要求大写 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="com/bing/lan/mybatis/domain/EmployeeMapper.xml"/>
    </mappers>

</configuration>